<!DOCTYPE html>
<html>
  <head>
    <title>Space Jokes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div>
        <h1 id="title">Space Jokes</h1>
        <div id="content-container">
            <img src="{{ url_for('static', filename='images/astronaut.png') }}" alt="Astronaut" id="astronaut-img" class="content" onclick="getJoke()" />
            <div id="joke" class="content">Click the astronaut for a joke!</div>
        </div>
    </div>
  </body>
</html>
